{extend name="public/base" /}
{block name="title"}
{$title}
{/block}

{block name="content"}
<div class="jumbotron">
    <h1 class="animated fadeInDown">Easy_Blog</h1>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="page-header h3">博文列表</div>
        <div class="article-list">
            {volist name="articles" id="vo"}
            <div class="article-list-item">
                <a href="{:url('index/article/info',['id'=>$vo.id])}" class="title">{$vo.title}</a>
                <div class="info">
                    <span class="author">作者:{$vo.author}</span>
                    <span class="desc">概要:{$vo.desc}</span>
                    <span class="time">发布时间:{$vo.create_time}</span>
                </div>
            </div>
            {/volist}
        </div>
        <nav class="">
            {$articles->render()|raw}
        </nav>
    </div>
</div>
{/block}